<section class="bg-gray-100 py-16">
  <div class="flex justify-center">
    <h2 class="text-4xl mx-4 text-center tracking-wide font-bold">Asistencias de emergencia sin costo en caso de alguna eventualidad, horario laboral 7:00AM a 5:00PM</h2>
  </div>
</section>
