---
import { Image } from "astro:assets";
import dysamTanques from "../assets/Dysam-tanques.jpg";
import grupoDysam from "../assets/ejecutivos-dysam.jpg";
---

<section class="bg-DysamBlue py-20" id="dysam">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row gap-12">
      <div class="md:w-1/2 flex justify-center">
        <Image
          src={grupoDysam}
          alt="Grandmother and granddaughter laughing together while playing on the grass"
          class="rounded-lg shadow-xl w-3/4 h-full"
          width={500}
          height={400}
        />
      </div>
      <div class="md:w-1/2 text-center text-white">
        <h2
          class="text-4xl md:text-5xl font-bold mb-6 tracking-wide"
        >
          D&SAM Es Tu Empresa Amigable
        </h2>
        <p class="text-lg">
          Nuestro personal técnico está capacitado y dispuesto a brindarle
          solución y acompañamiento en todos nuestros servicios.
          <br />
          <br />
          Continuamos fortaleciendo nuestro talento humano conscientes de que son
          ellos el activo más valioso en nuestra Compañía.
        </p>
      </div>
    </div>
  </div>
</section>
