---
import { Image } from 'astro:assets';
import logoImg from "../assets/dysamS.png";

// const footerLinks = [
//   { label: 'Home', href: '#' },
//   { label: 'Solution', href: '#' },
//   { label: 'Outcomes', href: '#' },
//   { label: 'Company', href: '#' },
//   { label: 'Resources', href: '#' },
//   { label: 'Careers', href: '#' },
//   { label: 'Contact Us', href: '#' },
//   { label: 'Member Support', href: '#' },
// ];
---

<footer class="bg-gray-900 text-white py-12">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-8">
      <div>
        <Image 
          src={logoImg} 
          alt="Company Logo Image" 
          class="rounded-lg h-[50px]"
          width={48}
          height={48}
        />
        <p class="font-serif font-bold pt-2 text-xl">Dysam</p>
      </div>
    </div>
    <div class="border-t border-gray-700 pt-8 flex flex-col md:flex-row justify-between items-center">
      <p class="text-sm mb-4 md:mb-0">&copy; 2025 Dysam S.A.S. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
