---
import { Image } from "astro:assets";
import logoImg from "../assets/dysamS.png";

const navItems = [
  { label: "Servicios", href: "#servicios" },
  { label: "Dysam", href: "#dysam" },
  { label: "Recomendaciones", href: "recomendaciones" },
  { label: "Nosotros", href: "#nosotros" },
  { label: "Contactar", href: "#contactar" },
];
---

<header class="bg-white shadow-md z-50 sticky top-0">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a href="/" class="flex font-serif items-center">
      <Image
        src={logoImg}
        alt="Company Logo Image"
        class="rounded-lg"
        width={58}
        height={58}
      />
      <span class="ml-2 text-DysamBlue font-extralight"
        >Diseños y servicios ambientales</span
      >
    </a>
    <nav class="hidden md:flex space-x-6">
      {
        navItems.map((item) => (
          <a
            href={item.href}
            class="text-gray-700 hover:text-primary-500 transition duration-150 ease-in-out hover:cursor-pointer"
          >
            {item.label}
          </a>
        ))
      }
    </nav>
    <!-- <a
      href="/#"
      class="bg-primary-500 text-white px-4 py-2 rounded hover:bg-primary-600 transition duration-150 ease-in-out"
    >
      Contáctanos
    </a> -->
  </div>
</header>
