---
import { Image } from "astro:assets";
import heroImg from "../assets/mano.webp";
---

<section
  class="bg-DysamBlue py-10 md:py-16 lg:py-20 h-[400px] lg:min-h-screen flex items-center relative overflow-hidden"
>
  <div
    class="container mx-auto px-4 relative z-20 flex flex-col items-center justify-center text-center"
  >
    <div class="flex flex-col">
      <span
        class="text-lg md:text-xl mb-6 md:mb-8 text-white font-bold text-shadow-lg/30"
      >
        Instalación, mantenimiento y limpieza <br /> de bombas y tanques de agua
      </span>
      <h1
        class="text-3xl md:text-5xl lg:text-6xl font-extrabold mb-4 md:mb-6 text-white text-shadow-lg/30 tracking-wider"
      >
        RÁPIDO Y CONFIABLE
      </h1>
    </div>
  </div>

  <div
    class="absolute bottom-0 left-1/2 -translate-x-1/2 z-10 pointer-events-none w-full flex justify-center"
  >
    <Image
      src={heroImg}
      alt="Mano con herramienta, centrada y de gran tamaño"
      class="w-full h-auto max-h-[2580px] sm:max-h-[350px] md:max-h-[500px] lg:max-h-[787px] object-contain"
      width={1600}
      height={787}
    />
  </div>
</section>
<!-- Video Modal -->
<div
  id="videoModal"
  class="fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center hidden"
>
  <div class="bg-white rounded-lg p-8 max-w-3xl w-full">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-2xl font-bold">How Your Co. Works</h3>
      <button id="closeModal" class="text-gray-500 hover:text-gray-700">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div class="aspect-w-16 aspect-h-9">
      <iframe
        id="youtubeVideo"
        class="w-full h-full"
        src="https://www.youtube.com/embed/f4D55v97wLM"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>

<script>
  // components/Hero.astro
  const playButton = document.getElementById("playButton");
  const videoModal = document.getElementById("videoModal");
  const closeModal = document.getElementById("closeModal");
  const youtubeVideo = document.getElementById(
    "youtubeVideo"
  ) as HTMLIFrameElement;

  playButton?.addEventListener("click", () => {
    videoModal?.classList.remove("hidden");
  });

  closeModal?.addEventListener("click", () => {
    videoModal?.classList.add("hidden");
    youtubeVideo.contentWindow?.postMessage(
      '{"event":"command","func":"pauseVideo","args":""}',
      "*"
    );
  });

  videoModal?.addEventListener("click", (e) => {
    if (e.target === videoModal) {
      videoModal.classList.add("hidden");
      youtubeVideo.contentWindow?.postMessage(
        '{"event":"command","func":"pauseVideo","args":""}',
        "*"
      );
    }
  });
</script>
