---
import { Image } from "astro:assets";
import dysamArreglado from "../assets/Dysam-logo-arreglado-sin-fondo.png";
---

<section
  class="bg-DysamBlue py-10 md:py-16 lg:py-20 lg:h-[400px] lg:min-h-screen flex flex-col lg:flex-row items-center relative overflow-hidden"
>
  <div
    class="container mx-auto px-4 relative z-20 flex flex-col items-center justify-center text-center"
  >
    <div class="flex flex-col">
      <h1
        class="text-3xl md:text-5xl lg:text-6xl font-extrabold mb-4 md:mb-6 text-white text-shadow-lg/30 tracking-wider"
      >
        RÁPIDO Y CONFIABLE
      </h1>
      <span
        class="text-lg md:text-xl mb-6 md:mb-8 text-white font-bold text-shadow-lg/30"
      >
        Instalación, mantenimiento de bombas <br> y limpieza de tanques de agua potable.
      </span>
    </div>
  </div>

  <div class="z-20">
    <Image
      src={dysamArreglado}
      alt="Mano con herramienta, centrada y de gran tamaño"
      class="object-contain"
      width={1600}
      height={787}
    />
  </div>
</section>

<script>
  // components/Hero.astro
  const playButton = document.getElementById("playButton");
  const videoModal = document.getElementById("videoModal");
  const closeModal = document.getElementById("closeModal");
  const youtubeVideo = document.getElementById(
    "youtubeVideo"
  ) as HTMLIFrameElement;

  playButton?.addEventListener("click", () => {
    videoModal?.classList.remove("hidden");
  });

  closeModal?.addEventListener("click", () => {
    videoModal?.classList.add("hidden");
    youtubeVideo.contentWindow?.postMessage(
      '{"event":"command","func":"pauseVideo","args":""}',
      "*"
    );
  });

  videoModal?.addEventListener("click", (e) => {
    if (e.target === videoModal) {
      videoModal.classList.add("hidden");
      youtubeVideo.contentWindow?.postMessage(
        '{"event":"command","func":"pauseVideo","args":""}',
        "*"
      );
    }
  });
</script>
