---
import { FaMedal, FaEye, FaUserShield } from "react-icons/fa";
const steps = [
  {
    icon: FaMedal, // Placeholder SVG path for the first icon
    title: "Mision",
    description:
      "Brindar confianza y respaldo a través de un acompañamiento constante y personalizado, con una capacidad de respuesta ágil y un equipo de trabajo altamente capacitado para atender eficientemente cada uno de los requerimientos de nuestros clientes.",
  },
  {
    icon: FaEye,
    title: "Visión",
    description:
      "La VISION nos lleva a ser para el 2020 una de las empresas líderes en el sector de la potabilización de aguas, e instalación y mantenimiento de los sistemas de abastecimiento de agua potable, siendo referentes de excelente servicio, confianza y calidad en el mercado, y proyectándonos a expandir nuestros servicios a otros departamentos del pais. ",
  },
  {
    icon: FaUserShield,
    title: "Política de calidad",
    description:
      "Fomentar buenas prácticas medioambientales en las actividades de la empresa y replicarlas en nuestros clientes basados en sistemas de calidad que cumplen con sus expectativas y satisfaciendo a sus usuarios finales.",
  },
];
---

<section class="py-20 bg-white">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        steps.map((step, index) => (
          <div
            class="bg-gray-100 p-8 rounded-lg text-center flex flex-col gap-4"
            id={`step-${index.toString()}`}
          >
            <step.icon className="mx-auto text-4xl"/>
            <h3 class="tracking-widek text-xl">{step.title}</h3>
            <p class="text-gray-700 text-sm font-bold">{step.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
