---
import trabajador from "../assets/trabajador.jpg";
import trabajadorBajando from "../assets/trabaador-bajando.jpg";
import contador2 from "../assets/contador2-dysam.jpg";
import { Image } from "astro:assets";

const cards = [
  {
    text: "Somos EXPERTOS en el Diseño, Construcción, Operación, Asesoría y Mantenimiento de Sistemas de Tratamiento de Aguas.",
    img: trabajador,
  },
  {
    text: "Acompañamiento desde la planificación de sus proyectos, hasta su ejecución y seguimiento durante su puesta en Marcha.",
    img: trabajadorBajando,
  },
  {
    text: "Manejamos Contratos de Mantenimiento Individuales y a Largo Plazo.",
    img: contador2,
  },
];
---

<section class="py-20">
  <div class="absolute inset-0 z-0">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      class="absolute bottom-0 left-0 w-full h-full"
      preserveAspectRatio="none"
    >
      <path
        fill="rgba(255,255,255,0.1)"
        fill-opacity="1"
        d="M0,96L48,112C96,128,192,160,288,160C384,160,480,128,576,128C672,128,768,160,864,176C960,192,1056,192,1152,176C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </div>

  <div class="flex flex-col items-center">
    <h2
      class="text-4xl md:text-5xl tracking-wide font-bold text-center mb-12"
    >
      Recomendaciones
    </h2>
    <div class="grid grid-cols-3 gap-6">
      {
        cards.map((card) => (
          <div class="w-[400px] flex flex-col gap-4 h-[430px] mx-auto border-solid border-2 rounded p-6 bg-white">
            <Image
              src={card.img}
              alt="Mano con herramienta, centrada y de gran tamaño"
              class="w-[348px] h-[261px] rounded object-containd"
              width={1600}
              height={787}
            />
            <p class="text-lg text-center">"{card.text}"</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
