---
// src/layouts/Layout.astro (o como se llame tu layout principal)

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ChatBotDysam from "../components/ChatBotDysam.astro"; // 1. Importa el nuevo componente

// Ya no necesitas 'react-icons/fa' para el botón flotante
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dysam</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/dysamS.png" type="image/png" />
  </head>
  <body class="font-roboto scroll-smooth">
    <Header />
    <main>
      <slot />
      
      </main>
    <Footer />

    <ChatBotDysam />

  </body>
</html>